[submodule ".vim/pack/plum/start/lightline"]
	path = .vim/pack/plum/opt/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/pack/plum/start/vim-commentary"]
	path = .vim/pack/plum/opt/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule ".vim/pack/plum/start/quick-scope"]
	path = .vim/pack/plum/opt/quick-scope
	url = git@github.com:unblevable/quick-scope
[submodule ".vim/pack/plum/start/markdown-preview.nvim"]
	path = .vim/pack/plum/opt/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim
[submodule ".vim/pack/plum/start/fzf.vim"]
	path = .vim/pack/plum/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plum/start/fzf"]
	path = .vim/pack/plum/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/plum/start/vim-fugitive"]
	path = .vim/pack/plum/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/plum/opt/vim-surround"]
	path = .vim/pack/plum/opt/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plum/opt/vim-polyglot"]
	path = .vim/pack/plum/opt/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/pack/plum/opt/vim-latex-live-preview"]
	path = .vim/pack/plum/opt/vim-latex-live-preview
	url = git@github.com:azuline/vim-latex-live-preview.git
[submodule ".vim/pack/plum/opt/nerdtree"]
	path = .vim/pack/plum/opt/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/plum/opt/vim-gitgutter"]
	path = .vim/pack/plum/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plum/opt/vim-lightline-coc"]
	path = .vim/pack/plum/opt/vim-lightline-coc
	url = https://github.com/josa42/vim-lightline-coc
[submodule ".vim/pack/plum/opt/coc.nvim"]
	path = .vim/pack/plum/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/plum/opt/palenight.vim"]
	path = .vim/pack/plum/opt/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim
[submodule ".vim/pack/plum/opt/ale"]
	path = .vim/pack/plum/opt/ale
	url = https://github.com/dense-analysis/ale
