[submodule ".vim/pack/plum/start/ale"]
	path = .vim/pack/plum/opt/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/plum/start/lightline"]
	path = .vim/pack/plum/opt/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/pack/plum/start/vim-commentary"]
	path = .vim/pack/plum/opt/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule ".vim/pack/plum/start/quick-scope"]
	path = .vim/pack/plum/opt/quick-scope
	url = git@github.com:unblevable/quick-scope
[submodule ".vim/pack/plum/start/vim-elixir"]
	path = .vim/pack/plum/opt/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir
[submodule ".vim/pack/plum/start/rust.vim"]
	path = .vim/pack/plum/opt/rust.vim
	url = git@github.com:rust-lang/rust.vim
[submodule ".vim/pack/plum/start/vim-python-pep8-indent"]
	path = .vim/pack/plum/opt/vim-python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent
[submodule ".vim/pack/plum/start/markdown-preview.nvim"]
	path = .vim/pack/plum/opt/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim
[submodule ".vim/pack/plum/start/lightline-ale"]
	path = .vim/pack/plum/opt/lightline-ale
	url = git@github.com:maximbaz/lightline-ale.git
[submodule ".vim/pack/plum/start/fzf.vim"]
	path = .vim/pack/plum/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plum/start/fzf"]
	path = .vim/pack/plum/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/plum/start/vim-fugitive"]
	path = .vim/pack/plum/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/colors/monokai"]
	path = .vim/colors/monokai
	url = git@github.com:sickill/vim-monokai.git
[submodule ".vim/pack/plum/opt/vim-afterglow"]
	path = .vim/colors/vim-afterglow
	url = git@github.com:danilo-augusto/vim-afterglow.git
[submodule ".vim/pack/plum/opt/vim-operator-highlight"]
	path = .vim/pack/plum/opt/vim-operator-highlight
	url = git@github.com:Valloric/vim-operator-highlight.git
[submodule ".vim/pack/plum/opt/vim-elm-syntax"]
	path = .vim/pack/plum/opt/vim-elm-syntax
	url = https://github.com/andys8/vim-elm-syntax
[submodule ".vim/pack/plum/opt/vim-racket"]
	path = .vim/pack/plum/opt/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule ".vim/pack/plum/opt/vim-jsx-pretty"]
	path = .vim/pack/plum/opt/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/plum/opt/vim-js"]
	path = .vim/pack/plum/opt/vim-js
	url = git@github.com:yuezk/vim-js.git
[submodule ".vim/pack/plum/opt/vim-graphql"]
	path = .vim/pack/plum/opt/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
[submodule ".vim/pack/plum/opt/typescript-vim"]
	path = .vim/pack/plum/opt/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/pack/plum/opt/vim-surround"]
	path = .vim/pack/plum/opt/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plum/opt/vim-ragtag"]
	path = .vim/pack/plum/opt/vim-ragtag
	url = git@github.com:tpope/vim-ragtag.git
[submodule ".vim/pack/plum/opt/vim-polyglot"]
	path = .vim/pack/plum/opt/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/pack/plum/opt/vim-latex-live-preview"]
	path = .vim/pack/plum/opt/vim-latex-live-preview
	url = git@github.com:azuline/vim-latex-live-preview.git
[submodule ".vim/pack/plum/opt/vim-lsp"]
	path = .vim/pack/plum/opt/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule ".vim/pack/plum/opt/vim-lsp-settings"]
	path = .vim/pack/plum/opt/vim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule ".vim/pack/plum/opt/asyncomplete.vim"]
	path = .vim/pack/plum/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/plum/opt/asyncomplete-lsp.vim"]
	path = .vim/pack/plum/opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
