* {
  border: none;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 18px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  /* color: rgb(230, 229, 229); */
  color: #eeffff;
  background-color: rgba(9, 9, 16, 0.4);
}

#workspaces button {
  padding: 0;
  color: #eeffff;
  background-color: rgba(9, 9, 16, 1);
}

#workspaces button.focused {
  color: #292d3e;
  background-color: #5ba9eb;
}

#workspaces button.urgent {
  color: #ff5376;
}

#tray,
#clock,
#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#temperature,
#custom-layout,
#backlight {
  margin: 0px 6px 0px 16px;
  /*    min-width: 30px;*/
}

#window {
  margin: 0 0 0 24px;
}

#clock {
  margin: 0px 6px 0px 10px;
}

#battery.warning {
  color: #fae655;
}

#battery.critical {
  color: #ff5370;
}

#battery.charging {
  color: #eeffff;
}
