*.cursorColor: #ffffff
*background: #1a191d
*foreground: #a9acb0

*color0: #1a191d
*color8: #1b1f2d
*color1: #f17140
*color9: #f17140
*color2: #f4ac59
*color10: #f4ac59
*color3: #f2d871
*color11: #f2d871
*color4: #696c8a
*color12: #696c8a
*color5: #705d8b
*color13: #705d8b
*color6: #727a81
*color14: #727a81
*color7: #a9acb0
*color15: #a9acb0

! State:            bg, border, idk
rofi.color-window: #1b1f2d, #1b1f2d, #1b1f2d
! State:            'bg', 'fg', 'bgalt', 'hlbg', 'hlfg'
rofi.color-normal: #1a191d, #a9acb0, #1b1f2d, #3d374f, #abb2b8
rofi.width: 50
rofi.lines: 8
rofi.columns: 1
rofi.font: Noto Sans 24
rofi.bw: 0
rofi.padding: 50
rofi.eh: 1
rofi.hide-scrollbar: true
rofi.terminal: urxvt

URxvt*font: xft:monospace:size=14
URxvt*scrollBar: false
! Copy paste
URxvt*iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! Word skipping
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C
! Transparency
URxvt*transparent: true
URxvt*shading: 20
