*
!/.gitignore
!/fish_variables
!/fish_plugins
!/completions
!/completions/password-store.fish
!/completions/nnn.fish
!/conf.d
!/conf.d/aliases.fish
!/conf.d/setup.fish
!/conf.d/events.fish
!/functions
