*
!/.gitignore
!/fish_variables
!/fish_plugins
!/completions
!/completions/gh.fish
!/completions/nnn.fish
!/completions/password-store.fish
!/conf.d
!/conf.d/aliases.fish
!/conf.d/env.fish
!/conf.d/events.fish
!/functions
!/functions/n.fish
!/functions/fish_prompt.fish
!/functions/prompt_vcs.fish
